---
const { id, class: className } = Astro.props;
---

<h2 class:list={["title2", "font-fun", className]} id={id}><slot /></h2>

<style>
  .title2 {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-tight);
    font-weight: 400;
    margin: var(--space-xs) 0 var(--space-2xs);
  }
</style>