---
const { class: className } = Astro.props;
---

<h1 class:list={["title1", "font-fun", className]}><slot /></h1>

<style>
  .title1 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-tight);
    font-weight: 400;
    margin: var(--space-s) 0;
  }
</style>

